<%- include("../comon/head.ejs") %>

</head>
<body>
    
    <div class="container-main">
        <%- include("../comon/navigation.ejs") %>
        <div class="main">
    
            <% if(isLoggedIn) { %>
        
                <div class="logindata">
                    <h1 class="heading">This is AboutPage</h1> 
                  
                </div>
                <% } %>
           
                
         </div>
    </div>
</body>
</html>