<nav class="navbar">


    <div class="nav-links">
        <a href="/">Home</a>
        <% if(isLoggedIn) { %>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <% } %>
        
 </div>
 <div class="btn-nav-login">

    <% if(isLoggedIn) { %>

        <form action="/logout" method="post">
                      

            <button type="submit" class="btn">Logout</button>
        </form>

        <% } else { %>
     
      <button type="submit" class="btn">   <a href="/signup">SignUp</a></button>
      <button type="submit" class="btn">   <a href="/login">Login</a>   </button>

        

        <% }%>

    </div>
    

</nav>
