<%- include("./common/header.ejs") %>
    <link rel="stylesheet" href="/css/error.css">
    </head>

    <body>
        <div class="container">
            <%- include("./common/navbar.ejs") %>
                <h1 class="error-code">500</h1>
                <p class="error-message">Oops! Something went wrong on our end.</p>
                <p class="error-description">We are currently working on fixing the issue. Please try again later.</p>
                <a href="/" class="error-btn">Go back to Home</a>
        </div>
    </body>

    </html>