<nav class="navbar">

    <div class="nav-items">
         <span class="nav-logo"> E-LibRary   </span>
    </div>
    <div class="nav-items">
        <a href="/">Home</a>
        <a href="/book/book-details" class="nav-link">Book</a>
        <a href="/member/member-details" class="nav-link">Member</a>
         <a href="/record/record-details" class="nav-link">Record</a>

    </div>

</nav>