<%- include("../comon/head.ejs") %>
</head>
<body>
    <%- include("../comon/navigation.ejs") %>

     <div class="container">
        <form action="/login" class="form-control" method="post">

            <div class="form-main">
             <div class="form-fname">
                <label for="email">Enter Email</label>
                <input type="email" name="email" id="email">
             </div>

             <div class="form-fname">
                <label for="password">Enter Password </label>
                <input type="password" name="password" id="password">
             </div>

             
             <div class="form-fname">
                <button class="btn" type="submit">Login</button>
             </div> 
             <div class="centerd">OR</div>
             <div class="form-fname">
              
               <a href="/auth/google" class="btn-signup"> Login with Google </a>
            </div>
              
             <div class="form-fname">
                <% if(error) {%>
                     <p> <%= error %> </p>
                  <% }%>
             </div>

            </div>
        </form>
     </div>
</body>
</html>